<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.mcmonad.core</string>
	<key>CFBundleName</key>
	<string>mcmonad-core</string>
	<key>CFBundleExecutable</key>
	<string>mcmonad-core</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>mcmonad listens for voice commands to launch apps and set timers from the Spotlight launcher.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>mcmonad transcribes your voice commands on-device to launch apps and set timers from the Spotlight launcher.</string>
</dict>
</plist>
