# Swift
core/.build/
core/.swiftpm/

# Haskell
haskell/dist-newstyle/
haskell/.cabal-sandbox/
haskell/cabal.sandbox.config

# Nix
result
result-*
.direnv/

# macOS
.DS_Store
example-configs/*.hi
example-configs/*.o
